
<nav class="navbar navbar-default"
  <div class="container">
    <div class="navbar-header">

      <ul class="nav nav-pills">
        <li><%= link_to "Home", root_path, style: "color:orange"  %></li>
        <li><%= link_to "Project Listing", projects_path, style: "color:orange"  %></li>
        <li><%= link_to "Add New Project", new_project_path, style: "color:orange"  %></li>
      </ul>
    </div>
    <div class="navbar-right">
    </div>
  </div>
</nav>
